html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}
canvas {
    position: absolute;
}
span {
    color: red;
    bottom: 0px;
    position: absolute;
    right: 0px;
    display: none;
    font-size: 40pt;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    font-family: monospace;
    display:none;
}
